@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*scrollbar */
    
    *::-webkit-scrollbar {
      @apply bg-transparent w-[12px] h-[12px];
    }

    * {
      scrollbar-width: thin;
    }

    *::-webkit-scrollbar-thumb {
      transition: background .2s ease-in-out;
      border: 3px solid transparent;
      @apply bg-gray-200  rounded-full bg-clip-content;
    }

    *::-webkit-scrollbar-thumb:hover {
      @apply bg-gray-300 ;
    }

    *::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }
  